@use 'variables' as *;

@mixin section {
    width: 30rem;
    height: 22rem;
    margin-top: 2.5rem;
    background-color: white;
    box-shadow: 1rem 1.8rem 2rem rgba(164, 174, 197, 0.324);
    border-top: 4px solid $Cyan;
    border-radius: 0.5rem;
}

@mixin image {
    background-repeat: no-repeat;
    background-size: 5.5rem;
    background-position: (21.8rem 13.5rem);
}